html {
	height: 100%;
}

body {
	margin: 0 auto;
	padding: 0;
	height: 100%;
	text-align: center;
	font-size: 16px;
	background: #FFFFFF;
}

.wrapper {
	position: relative;
	min-height: 100%;
}

.about h2 {
	color: #48c6bb;
	font-size: 20px;
	margin-bottom: 30px;
}

.fixed {
  position: fixed;
  width:100%;
  top: 0px;
  z-index: 9999;
}


.b {
	border: 1px solid red;
}

.no-padding {
	padding: 0;
}

/* center a table*/
table.center {
    margin-left:auto;
    margin-right:auto;
}

h1 {
	margin: 0;
	padding-top: 50px;
	color: #48c6bb;
	font-size: 46px;
	font-weight: 700;
}

h2 {
	color: #48c6bb;
	font-size: 36px;
	margin-bottom: 30px;
}

h3 {
	font-size: 30px;
}

h4 {
	margin: 0;
	padding: 0;
	color: #48c6bb;
	font-size: 18px;
}

p {
	color: #585e5f;
	line-height: 150%;
}


.highlight {
	color: #fffd5c;

	font-weight: 100;
}


.col-05, .col-3, .col-5 {
	position: relative;
	float: left;
	min-height: 1px;
	padding: 0;
}

.col-5 {
	width: 20%;
}
.col-3 {
	width: 30%;
}

.col-05 {
	width: 5%;
}


/* BUTTONS */

.entry {
	display: block;
	margin: -36px 0 0 0;
}

.button-entry.small {
	width: 400px;
	z-index: 1000;
}

.button-entry {
	position: relative;
	display: block;
	margin: 0 auto;
	padding: 15px 0;

	width: 600px;


	font-size: 30px;
	font-weight: 600;
	color: #48c6bb;

	background: #fffd5c;

	text-decoration: none;
}


.button-entry:hover {
	color: #FFFFFF;
	background: #ffdd00;

	text-decoration: none;
}


.button-entry span.glyphicon {
	position: absolute;
	top: 22px;
	right: 20px;


	font-size: 25px;
}


/* SECTIONS */
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#topbar,
#section-header,
#navbar,
#section-poster,
#section-about,
#section-details,
#section-tabs,
#section-qa,
#section-sponsors,
#section-info,
#section-map,
#section-entry{
	min-width: 1000px !important;
}

.section-title {
	padding: 0 0 40px 0;
}

#topbar {
	padding: 15px;
	margin: 0;
	color: #48c6bb;
	background: #eceff0;
	border: 0 none;
	border-radius: 0;
}

#section-header {
	min-height:100%;
	margin: 0;
	text-align: left;
	color: #48c6bb;
	background: #eceff0;
	background-size: cover;
}

#navbar {
	padding: 0;
	height: 80px;
	color: #48c6bb;
	background: #FFFFFF;
}
#navbar .container{
width: 980px;
margin: 0 auto;
position: relative;
}

#section-poster {
	position: relative;
}

#section-about {
	text-align: left;

}

#section-details {
	padding-bottom:100px;
	background: #eceff0;
}

#section-tabs {
	margin: -85px 0 40px 0;

}


#section-qa {
	background: #eceff0;
}


#section-sponsors {
	background: #48c6bb;
}

#section-info {
}

#section-map {
	margin: 0;
	background: #eceff0;
}

#section-entry {
	margin: -10px 0 0 0;
	padding-bottom: 100px;
	background: #48c6bb;
}



#footer {
	/*position: absolute;
	bottom: 0;*/
	width: 100%;

	padding: 40px 20px 60px 20px;

	color: #a7a9ac;

	background: #FFFFFF;
}




/* TOPBAR */

#topbar .logo {
	padding: 0px;
}

#topbar img.icon {
	margin: -10px 8px 0 10px;

	width: 26px;
	height: 26px;
}

#topbar h4 {
	display: inline-block;
	margin: 0;
	padding: 0;

	font-size: 26px;
	font-weight: 400;
}

#topbar p {
	display: inline-block;
	text-align: left;
	font-size: 10px;
	line-height: 120%;
	color: #48c6bb;
}

/* HEADER */

#section-header .container {
	width:720px;
	height:500px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

#section-header h1 {
	margin-left: -15px;
}

#section-header h4 {
	margin: 0;
	padding: 20px 0;
}

#section-header p {
	line-height: 27px;
	font-size: 14px;
}

#section-header a {
	position: absolute;
	left: 50%;
	bottom: 30px;
}
#section-header a img{
	width: 36px;
}

h1.special {
	color: #48c6bb;

	font-size: 160px;
	font-style: italic;
	font-weight: 500;
	letter-spacing: 8px;

	text-shadow: 		1px 1px rgba(51, 193,167, 0.1),
							3px 3px rgba(51, 193,167, 0.095),
							5px 5px rgba(51, 193,167, 0.090),
							7px 7px rgba(51, 193,167, 0.085),
							9px 9px rgba(51, 193,167, 0.08),
							11px 11px rgba(51, 193,167, 0.075),
							13px 13px rgba(51, 193,167, 0.07),
							15px 15px rgba(51, 193,167, 0.065),
							17px 17px rgba(51, 193,167, 0.06),
							19px 19px rgba(51, 193,167, 0.055),
							21px 21px rgba(51, 193,167, 0.05),
							23px 23px rgba(51, 193,167, 0.045),
							25px 25px rgba(51, 193,167, 0.04),
							27px 27px rgba(51, 193,167, 0.035),
							29px 29px rgba(51, 193,167, 0.03),
							31px 31px rgba(51, 193,167, 0.025),
							33px 33px rgba(51, 193,167, 0.02),
							35px 35px rgba(51, 193,167, 0.015),
							37px 37px rgba(51, 193,167, 0.01),
							39px 39px rgba(51, 193,167, 0.005),
							41px 41px rgba(51, 193,167, 0);



							/*4px 4px rgba(51, 193,167, 0.085),
							5px 5px rgba(51, 193,167, 0.08),
							6px 6px rgba(51, 193,167, 0.075),
							7px 7px rgba(51, 193,167, 0.07),
							8px 8px rgba(51, 193,167, 0.065),
							9px 9px rgba(51, 193,167, 0.06),
							10px 10px rgba(51, 193,167, 0.055),
							11px 11px rgba(51, 193,167, 0.05),
							12px 12px rgba(51, 193,167, 0.045),
							13px 13px rgba(51, 193,167, 0.04),
							14px 14px rgba(51, 193,167, 0.035),
							15px 15px rgba(51, 193,167, 0.03),
							16px 16px rgba(51, 193,167, 0.025),
							17px 17px rgba(51, 193,167, 0.02),
							18px 18px rgba(51, 193,167, 0.015),
							19px 19px rgba(51, 193,167, 0.01),
							20px 20px rgba(51, 193,167, 0.005),
							21px 21px rgba(51, 193,167, 0);*/
}


/* NAV BAR */
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


#navbar .menu {
	padding: 0;
	text-align: center;
}


ul.nav-links ,
ul.nav-links li {
	height: 100%;
}

ul.nav-links {
	margin: 0 auto;
	padding: 0;

	width: 1000px;

	text-align: center;
	list-style-type: none;
}

.nav-links li {
	display: inline-block;
	margin: 0 0 0 -5px;
	padding: 0;

	border-right: 1px solid #f0f2f3;
}

.nav-links li:first-child {
	border-left: 1px solid #f0f2f3;
}

.nav-links li a {
	display: block;
	padding: 30px 0;

	width: 140px;
	height: 100%;

	font-size: 16px;
	font-weight: 600;
	color: #48c6bb;
}


.nav-links li > a:hover  {
	color: #FFFFFF;
	text-decoration: none;
	background: #48c6bb;
}

.nav-links li > a:focus  {
	text-decoration: none;
}

/* bootstrap reset */
.nav li a:focus  {
	background: none;
}




/* POSTER */
#section-poster {
	z-index: -1;
}


/* ABOUT */
#section-about h1,
#section-about h2,
#section-about h4 {
	color: #48c6bb;
}

#section-about h4 {
	padding: 5px 0;
}

#section-about img {
	width: 100%;
}

#section-about .info {
	padding: 60px 0 0 0;

}



/* TABS */

.tabs {
	display:inline-block;
	padding: 0;
	margin: 0;

    width:100%;
}


.tabs ul.tab-links {
	display: block;
	padding: 0;
	margin: 0;
}


/* Clearfix */
.tab-links:after {
    display: block;
    clear: both;
    content: '';
}

.tab-links li {
    position: relative;
	display:inline-block;

	margin: 0;
    padding: 0;

	list-style: none;
}

.tabs .tab-links h3 {
	padding: 0;
	margin: 0;
}

.tab-links a {
    display:inline-block;
	padding: 25px 40px;

	font-size: 16px;

	color: #FFFFFF;

    transition: all linear 0.15s;
	text-decoration: none;
}

/*  Customizing tab links  */
.tab-links li.tab1 > a {
	background: #2EBA9B;
}

.tab-links li.tab2 > a {
	background: #4d9cce;
}

.tab-links li.tab1.active > a {
	font-weight: 600;

    color: #2EBA9B;
	background: #FFFFFF;
}

.tab-links li.tab2.active > a {
	font-weight: 600;

    color: #4d9cce;
	background: #FFFFFF;
}


/*  Adds diagonal white corner : active */
.tab-links li.tab1.active:before,
.tab-links li.tab2.active:before {
	border-right: 20px solid #FFFFFF;
}


/*  Adds diagonal corner : inactive */
.tab-links li:before {
	content: '';
    position: absolute;
    top: 0;
	left: 0;
    width: 0;

	border-top: 20px solid #eceff0;
}

.tab-links li.tab1:before {
    border-right: 20px solid #2EBA9B;
}

.tab-links li.tab2:before {
    border-right: 20px solid #4d9cce;
}



/* TABS */

.tab-content {
	padding: 40px;
	margin: 0;
	width: 100%;
	background: #FFFFFF;
}

.tab-content h2 {
	padding: 30px 0 20px 0;
}

.tab-content span{
	background: linear-gradient(transparent 70%, #fffe40 60%);
	background-position-y: 30px;
}

.tab-content .icon > h3 {
	font-size: 18px;
	line-height: 150%;

	font-weight: 600;
	color: #34baad;
}

.tab-content .icon > img{
	margin: 0;
	padding: 0;
	width: 180px;
	height: 180px;
}

.tab {
    padding:0;
    margin: 0;
    display:none;
}

.tab.active {
    display:block;
}

.tab-content .info  {
	margin: 0;
	padding: 0;
}


.tab-content .info > img {
	width: 100%;
	border: 10px solid #ecefee;
}

.tab-content .info > p {

	padding: 20px 0 0 0;
	text-align: left;
}



/* TAB 1 */
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#tab1 h2,
#tab1 h3,
#tab1 h4 {
	color: #2EBA9B;
}


#tab1 img.arrow {
	margin: 50px 0;
	width: 60px;
}


#tab1 h4 {
	color: #49c5b6;
	font-weight: 600;
	padding: 0 0 10px 0;
}

#tab1 .app {
	padding: 40px 40px 0 40px;
	background: #f5f7f6;
}

/* TAB 2 */
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#tab2 h2,
#tab2 h3,
#tab2 h4 {
	color: #4d9cce;
}

#tab2 h4 {
	font-weight: 600;
	padding: 0 0 10px 0;

}

#tab2 img.arrow {
	margin: 60px 5px;
}

#tab2 .app {
	padding: 0 40px 0 40px;
	background: #f5f7f6;
}

#tab2 .app  h3 {
	padding: 20px 0 0 0;
}

/* SCHEDULE */
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

table.schedule {
	padding: 0;
	margin: 0 auto;

	width: 100%;

	text-align: left;

	color: #FFFFFF;

	background: #E6E7E8;
}

table.schedule tr td:first-child {
	width: 160px;
}

table.schedule tr td {
	font-weight: 600;

	padding: 0 30px;
}

#tab1  table.schedule tr:nth-child(odd) td{
	background: #48c6bb;
}

#tab1 table.schedule tr:nth-child(even) td{
	background: #64dfcd;
}

#tab2  table.schedule tr:nth-child(odd) td{
	background: #4d9cce;
}

#tab2 table.schedule tr:nth-child(even) td{
	background: #58b3ed;
}


#section-tabs .icon,
#section-tabs .icon h3 {
	display: inline-block;
	padding: 10px 20px;

	vertical-align: middle;
}





/* Q & A */
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#section-qa .qa {
	text-align: left;
}

#section-qa .qa > h4 {
	padding: 20px 0 10px 0;
}


/* SPONSORS */
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#section-sponsors h1,
#section-sponsors h4  {
	color: #FFFFFF;
}


/* EVENT INFO */
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


table.info tr td:first-child {
	width: 140px;
	color: #000000;
}


table.info tr td {
	padding: 20px 40px;

	text-align: left;

	color: #585e5f;

	border-top: 1px solid #eceff0;
	border-bottom: 1px solid #eceff0;
}



/* MAP */
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.map {
	width: 100%;
	height: 450px;
	border: 0 none;
}



/* ENTRY */
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#section-entry h4 {
	color: #FFFFFF;

}


#section-entry h1.special {
	color: #FFFFFF;

	font-size: 160px;
	font-style: italic;
	font-weight: 100;
	letter-spacing: 8px;

	text-shadow: 	1px 1px rgba(255, 255, 255, 0.1),
							3px 3px rgba(255, 255, 255, 0.095),
							5px 5px rgba(255, 255, 255, 0.090),
							7px 7px rgba(255, 255, 255, 0.085),
							9px 9px rgba(255, 255, 255, 0.08),
							11px 11px rgba(255, 255, 255, 0.075),
							13px 13px rgba(255, 255, 255, 0.07),
							15px 15px rgba(255, 255, 255, 0.065),
							17px 17px rgba(255, 255, 255, 0.06),
							19px 19px rgba(255, 255, 255, 0.055),
							21px 21px rgba(255, 255, 255, 0.05),
							23px 23px rgba(255, 255, 255, 0.045),
							25px 25px rgba(255, 255, 255, 0.04),
							27px 27px rgba(255, 255, 255, 0.035),
							29px 29px rgba(255, 255, 255, 0.03),
							31px 31px rgba(255, 255, 255, 0.025),
							33px 33px rgba(255, 255, 255, 0.02),
							35px 35px rgba(255, 255, 255, 0.015),
							37px 37px rgba(255, 255, 255, 0.01),
							39px 39px rgba(255, 255, 255, 0.005),
							41px 41px rgba(255, 255, 255, 0);
}






